<!doctype html>
<html lang="en">
<head>
  <title>Using underscore.js (Example 2)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <h3>Looking At Underscore.js Templates</h3>

  <!-- Begin template definition -->
  <script type="template" class="template">
    <h4>
      <%- rc.listTitle %>
    </h4>
    <ul>
      <% _.each(rc.listItems, function (listItem) { %>
        <li>
          <%= listItem.name %>
          <% if (listItem.hasOlympicGold) { %>
              <em>*</em>
          <% } %>
        </li>
      <% }); %>
    </ul>

    <% var showFootnote = true; %>

    <% if (showFootnote) { %>
        <p style="font-size: 12px;"
          <em>Olympic gold medalist</em>
        </p>
    <% } %>

  </script>

  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="./js/underscore.js"></script>

  <script>
    _.templateSettings.variable = "rc";

    // Grab the HTML out of our template tag and pre-compile it
    var template = _.template($('script.template').html());

    // Define our render data (to be put into the "rc" variable
    var templateData = {
      listTitle: "Olympic Volleyball Players",
      listItems: [
        {name: "Misty May-Treanor", hasOlympicGold: true},
        {name: "Kerri Walsh Jennings", hasOlympicGold: true},
        {name: "Jennifer Kessy", hasOlympicGold: false},
        {name: "April Ross", hasOlympicGold: false}
      ]
    };

    // Render the underscore template and inject it after the H3
    // in our current DOM.
    $('h3').after(template(templateData));

  </script>



</body>
</html>

