<!doctype html>
<html lang="en">
<head>
  <title>Using underscore.js (Example 1)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #000000;
      color: #ffffff;
    }
    hr {
      color: saddlebrown;
    }
  </style>
</head>

<body>
  <!-- Simple examples of how to use underscore.js -->
  <div class="container">
      <div id="books"></div>
      <hr>
      <div id="out1"></div>
      <hr>
      <div id="out2"></div>
      <hr>
      <div id="out3"></div>
      <hr>
      <div id="out4"></div>
  </div>
  <!-- underscore template -->
  <script id="tmpl-books" type="text/template">
    <ul>
      <li>
        <%= books.length %>
      </li>
      <% for (var i = 0; i < books.length; i++) { %>
      <% var book = books[i]; %>
      <li>
        <em><%= book.title %></em> by <%= book.author %>
      </li>
      <% } %>
    </ul>
  </script>

  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="./js/underscore-min.js"></script>



  <script>
      var books = [
        {title: 'Words of Wisdom', author: 'Rev Run'},
        {title: 'Black Genius', author: 'Dick Russell'},
        {title: 'African Americans in Science', author: 'Charles W. Carey Jr.'}
      ];

      // Get the template's markup
      var tmplMarkup = $('#tmpl-books').html();

      console.info(110,tmplMarkup);

      // tell Underscore to render the template
      var compiled = _.template(tmplMarkup);

      // update the page
      // $('#books').html(compiled({books : myBooks}));
      console.info(120, books);

      $('#books').html(compiled(books));

      // More examples (taken from underscorejs.org documentation
      // Note that the _.template() returns a function!!
      compiled = _.template("hello - <%= name %>");
      console.info(130, compiled);

      console.info(140, compiled({name: 'moe'}));

      var list = "<ul>" +
          "<% _.each(people, function(name) { %> " +
              "<li><%= name %></li> <% }); %>" +
          "</ul>";

      compiledTmpl =  _.template(list, {people: ['moe', 'curly', 'larry'] });
      $('#out1').html(compiledTmpl);

      compiled = _.template(list);
      $('#out2').html(compiled({people: ['ray-ray', 'pookie', 'junior']}));

      // in this example the < and > are escaped!
      var template = _.template("<b><%- value %></b>");
      $('#out3').html(template({value: '<script>'}));

      // use print within JavaScript code
      var compiled = _.template("<% print('Hello ' + text); %>");
      $('#out4').html(compiled({text: "it's me"}));

  </script>
</body>
</html>

