/* styles.css */
html {
    background: #fff;
}
body {
    width: 75%; margin: auto;
    background : yellowgreen;
    font: 80% sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    text-align: center;
    font-style: italic;
}

form {
    padding: 10px;
}

form label {
    display: inline-block;
    width: 80px;
}

.buttons {
    margin: 10px 0px;
}