#server {
  margin: 1% 0;
  display : none;
}

#server img {
  float: left;
}

#buttons {
  clear: both;
  margin-top: 10px;
  margin-left: 10px;
}

.image {
  display: inline-block;
  margin-left: 10px;
}